{% load user_filter %}
{% if request.user.is_authenticated %}
{% if user.is_authenticated %}
	  {% if recipe|is_in_shop_list_of:user %}
		<button class="button button_style_light-blue-outline" name="purchases">
		  <span class="icon-check button__icon"></span>Рецепт добавлен
		</button>
	  {% else %}
		<button class="button button_style_light-blue" name="purchases" data-out>
		  <span class="icon-plus button__icon"></span>Добавить в покупки
		</button>
	  {% endif %}
    {% if recipe|is_favored_by:request.user %}
        <button class="button button_style_none" name="favorites">
            <span class="icon-favorite icon-favorite_active"></span></button>
    {% else %}
        <button class=" button button_style_none" name="favorites" data-out>
            <span class="icon-favorite"></span></button>
    {% endif %}
{% endif %}
{% endif %}