{% if request.user.is_authenticated %}
    <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
    {% if recipe in favorites %}
        <button class="button button_style_none" name="favorites">
            <span class="icon-favorite icon-favorite_active"></span></button>
    {% else %}
        <button class=" button button_style_none" name="favorites" data-out>
            <span class="icon-favorite"></span></button>
    {% endif %}
{% endif %}