<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Рецепты {% endblock %}</title>
    {% load static %}
    {% block head %} <link rel="stylesheet" href="{% static 'pages/index.css' %}"> {% endblock %}

</head>
<body class="body">
    {% include 'small_templates/nav.html' %}
<main class="main container">
    {% block header %} {% endblock %}
    {% block content %} {% endblock %}
</main>
{% include 'small_templates/footer.html' %}
</body>

</html>