{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            {% include './includes/tags_filtration.html' %}
        </div>
        <div class="card-list">
            {% include 'includes/card_item.html' %}
    </div>
        {% if page.has_other_pages %}
            {% include 'includes/paginator.html' with items=page paginator=paginator %}
        {% endif %}
  <script src="{% static 'js/components/MainCards.js' %}"></script>

  <script src="{% static 'js/components/Purchases.js' %}"></script>
  <script src="{% static 'js/components/Favorites.js' %}"></script>

  <script src="{% static 'js/config/config.js' %}"></script>
  <script src="{% static 'js/components/CardList.js' %}"></script>
  <script src="{% static 'js/components/Header.js' %}"></script>

  <script src="{% static 'js/api/Api.js' %}"></script>
  <script src="{% static 'indexAuth.js' %}"></script>
{% endblock %}