{% extends 'base.html' %}
{% block title %} Создание рецепта {% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}
{% block content %}
{% load user_filters %}
    <div class="main__header">
        <h1 class="main__title">Создание рецепта</h1>
    </div>
    <div class="form-container">
        {% if edit %}
        <form class="form" method="post" enctype="multipart/form-data" action="{% url 'edit' 5 %}" >
        {% else %}
            <form class="form" method="post" enctype="multipart/form-data" action="{% url 'new' %}" >
                {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="form__group">
                <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                <div class="form__field-group">
                    {{ field|addclass:"form__input" }}
                </div>
            </div>
            {% endfor %}
            <div class="form__footer">
                <button type="submit" class="button button_style_blue">{% if edit %}Редактировать{% else %}Создать{% endif %} рецепт</button>
            </div>
        </form>
    </div>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{%static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
{% endblock %}
